<h1>All the Users, Todos, and Cats in this database!</h1>
<h3>Users</h3>
  <% @users.each do |u| %>
    <p>Username: <%= u.username %></p> 
    <p>Email: <%= u.email %></p> 
    <p>Age: <%= u.age %></p> 
  <% end %>
<br>
<h3>Todos</h3>
  <% @todos.each do |t| %>
    <p>Tasks: <%= t.tasks %></p> 
    <p>Finished? <%= t.finished %></p> 
  <% end %>
<br>
<h3>Cats</h3>
  <% @cats.each do |c| %>
    <p>Cat name: <%= c.name %></p>
  <% end %>